 body{
    overflow: hidden;
    color: #f9f6f6;
    background-color: #0D0D0D;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }
 .cover{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
    background-color: #f9f6f6ca;
}
 .img:hover .cover{
    transform: translateY(0%);
}
 .inner{
    cursor: pointer;
}
.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    z-index: 99999;
    background-color: #0D0D0D;
}
.side-nav li{
    cursor: pointer;
    top: 300px;
}
.close{
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    z-index: 99999;
    background-color: tomato;
}
.close img{
    width: 50px;
}
.close i{
    cursor: pointer;
}
.contact{
    display: none;
}
.nav-footer{
    position: relative;
    left: -250px;
}
.loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #302e2e;
    z-index: 9999999999999;
}
.loading-screen{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #302e2e;
    z-index: 9999999999999;
    display: none;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #edebeb;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}