 body{
    color: #f9f6f6;
    background-color: #0D0D0D;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }
 .cover{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
    background-color: #f9f6f6ca;
}
 .img:hover .cover{
    transform: translateY(0%);
}
.area .inner{
    cursor: pointer;
}
.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    z-index: 99999;
    background-color: #0D0D0D;
}
.side-nav li{
    cursor: pointer;
}
.close{
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    z-index: 99999;
    background-color: tomato;
}
.close img{
    width: 50px;
}
.close i{
    cursor: pointer;
}